* {
  padding: 0;
  margin: 0;
}
html, body {
  overflow: hidden;
  -ms-touch-action: none;
  font-family: 'Electrolize';
}
canvas {
  touch-action-delay: none;
  touch-action: none;
  -ms-touch-action: none;
}

@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  src: local('Electrolize'), local('Electrolize-Regular'), url(http://themes.googleusercontent.com/static/fonts/electrolize/v2/DDy9sgU2U7S4xAwH5thnJ4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

#soccerContainer {
  display: none;
}